-count = 0
-tweet_count = 0
- for image in @images
  -if count >= @offset
    .row
      .span2
        &nbsp;
      .span2
        .wella
          %h2
            -post_date = DateTime.parse(Time.at(image.created_time.to_i).to_s)
            ="#{post_date.mday}/#{post_date.mon}"
          -if image.likes.data.length != 0
            %p
              %strong
                Likes
              %br/
              - for like in image.likes.data
                %img.profile-picture(src="#{like.profile_picture}" data-original-title="#{like.username}")
      .span12
        =#%img(src="/images/test.jpg")
        %img.instagram-pic{ :src => image.images.standard_resolution.url }
    .sep
    -if DateTime.parse(@tweets[tweet_count]['created_at']) < DateTime.parse(Time.at(image.created_time.to_i).to_s)
      .row
        .span16
          =@tweets[tweet_count]['text']
          %br/
          = DateTime.parse(@tweets[tweet_count]['created_at']).to_s + "<br/>" + DateTime.parse(Time.at(image.created_time.to_i).to_s).to_s
      -tweet_count += 1
  -count+=1
  -if count-@offset >= 10
    -break
