-count = 0
- for image in @images
  -if count >= @offset
    .row
      .span2
        &nbsp;
      .span2
        .wella
          %h2
            -post_date = DateTime.parse(Time.at(image.created_time.to_i).to_s)
            ="#{post_date.mday}/#{post_date.mon}"
          -if image.likes.data.length != 0
            %p
              %p(style="margin-bottom:5px;")
                Likes
              - for like in image.likes.data
                %img.profile-picture(src="#{like.profile_picture}" data-original-title="#{like.username}" alt="#{like.username}")
      .span12
        =#%img(src="/images/test.jpg")
        %img.instagram-pic{ :src => image.images.standard_resolution.url, :alt => image.caption.nil? ? "" : image.caption.text }
    .sep
  -count+=1
  -if count-@offset >= 10
    -break
