!!!
%html
  %head
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = javascript_include_tag "jquery-1.4.4.min.js", "jquery-ui-1.8.8.custom.min.js", "jquery.rails.js", "application"
    = javascript_include_tag 'Groject.ImageSwitch.yui.js'
    = csrf_meta_tag

    %title Gustavo Castro
    %meta{ :NAME => 'Description', :CONTENT => 'Gustavo Castro - Programmer' }
  %body
    .container.table
      .span-28.wrapper
        .span-28.lowlight
          = yield


    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3763789-2");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
    

